<h1>New Recipe</h1>

<form {{action "save" on="submit"}}>
 <h2>{{errorMessage}}</h2>
 <fieldset>
  <label>Recipe Name:</label>
   {{input value=model.name      placeholder="Recipe Name"}}
   <br>
   <label>Ingredients:</label>
   {{input value=model.proportions.quantity  placeholder="Quantity"}}
   {{input value=model.proportions.unit        placeholder="Unit"}}
   {{input value=model.proportions.ingredient  placeholder="Ingredient Name"}}
   <br>
   <label>Steps:</label>
   {{input value=model.steps.description   placeholder="Step"}}
   <br>
   <input type="submit" value="Save" class="primary">
   <button {{action "cancel"}}>Cancel</button>
 </fieldset>
</form>

{{outlet}}
